@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-input {
  @apply h-[40px];
}

.app-btn {
  @apply h-[40px] rounded-[4px];
  background: linear-gradient(96deg, #048afd -48.42%, #f0f 157.13%);
}

#root {
  height: 100%;
  width: 100%;
}
